<div class="form-row">
  <div class="form-column-left">
    <label><%= t('attendance.allow_attendance') %></label>
  </div>
  <div class="form-column-right">
    <div class="checkbox-group">
      <label class="checkbox-label">
        <%= form.check_box :allow_attendance, id: 'live_allow_attendance' %>
        <span><%= t('attendance.allow_attendance') %></span>
      </label>
    </div>
  </div>
</div>

<div id="liveAttendanceFields">
  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.attendance_threshold') %></label>
    </div>
    <div class="form-column-right">
      <%= form.number_field :attendance_threshold, class: 'input-small', min: 1, max: 100, placeholder: '80' %>
      <span class="hint-inline">%</span>
      <p class="hint-text"><%= t('attendance.attendance_threshold_hint') %></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.start_time') %></label>
    </div>
    <div class="form-column-right">
      <%= form.datetime_local_field :start_time, class: 'input-datetime' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.duration') %></label>
    </div>
    <div class="form-column-right">
      <%= form.number_field :duration, class: 'input-small', min: 60, placeholder: '3600' %>
      <span class="hint-inline"><%= t('attendance.duration_hint') %></span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.allow_tardiness') %></label>
    </div>
    <div class="form-column-right">
      <div class="checkbox-group">
        <label class="checkbox-label">
          <%= form.check_box :allow_tardiness, id: 'live_allow_tardiness' %>
          <span><%= t('attendance.allow_tardiness') %></span>
        </label>
      </div>
    </div>
  </div>

  <div id="liveTardinessFields">
    <div class="form-row">
      <div class="form-column-left">
        <label><%= t('attendance.tardiness_threshold') %></label>
      </div>
      <div class="form-column-right">
        <%= form.number_field :tardiness_threshold, class: 'input-small', min: 1, max: 100, placeholder: '50' %>
        <span class="hint-inline">%</span>
        <p class="hint-text"><%= t('attendance.tardiness_threshold_hint') %></p>
      </div>
    </div>
  </div>
</div>

<script>
(function() {
  var allowAtt = document.getElementById('live_allow_attendance');
  var attFields = document.getElementById('liveAttendanceFields');
  var allowTard = document.getElementById('live_allow_tardiness');
  var tardFields = document.getElementById('liveTardinessFields');

  function toggleAttendance() {
    attFields.style.display = allowAtt.checked ? '' : 'none';
  }
  function toggleTardiness() {
    tardFields.style.display = allowTard.checked ? '' : 'none';
  }

  allowAtt.addEventListener('change', toggleAttendance);
  allowTard.addEventListener('change', toggleTardiness);
  toggleAttendance();
  toggleTardiness();
})();
</script>
