<div class="form-row">
  <div class="form-column-left">
    <label><%= t('attendance.allow_attendance') %></label>
  </div>
  <div class="form-column-right">
    <div class="checkbox-group">
      <label class="checkbox-label">
        <%= form.check_box :allow_attendance, id: 'vod_allow_attendance' %>
        <span><%= t('attendance.allow_attendance') %></span>
      </label>
    </div>
  </div>
</div>

<div id="vodAttendanceFields">
  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.percent_required') %></label>
    </div>
    <div class="form-column-right">
      <strong>95%</strong>
      <%= form.hidden_field :percent_required, value: 95 %>
      <p class="hint-text"><%= t('attendance.percent_required_hint') %></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.unlock_at') %></label>
    </div>
    <div class="form-column-right">
      <%= form.datetime_local_field :unlock_at, class: 'input-datetime' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.lock_at') %></label>
    </div>
    <div class="form-column-right">
      <%= form.datetime_local_field :lock_at, class: 'input-datetime' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.attendance_finish_at') %></label>
    </div>
    <div class="form-column-right">
      <%= form.datetime_local_field :attendance_finish_at, class: 'input-datetime' %>
      <p class="hint-text"><%= t('attendance.attendance_finish_hint') %></p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-column-left">
      <label><%= t('attendance.allow_tardiness') %></label>
    </div>
    <div class="form-column-right">
      <div class="checkbox-group">
        <label class="checkbox-label">
          <%= form.check_box :allow_tardiness, id: 'vod_allow_tardiness' %>
          <span><%= t('attendance.allow_tardiness') %></span>
        </label>
      </div>
    </div>
  </div>

  <div id="vodTardinessFields">
    <div class="form-row">
      <div class="form-column-left">
        <label><%= t('attendance.tardiness_finish_at') %></label>
      </div>
      <div class="form-column-right">
        <%= form.datetime_local_field :tardiness_finish_at, class: 'input-datetime' %>
        <p class="hint-text"><%= t('attendance.tardiness_finish_hint') %></p>
      </div>
    </div>
  </div>
</div>

<script>
(function() {
  var allowAtt = document.getElementById('vod_allow_attendance');
  var attFields = document.getElementById('vodAttendanceFields');
  var allowTard = document.getElementById('vod_allow_tardiness');
  var tardFields = document.getElementById('vodTardinessFields');

  function toggleAttendance() {
    attFields.style.display = allowAtt.checked ? '' : 'none';
  }
  function toggleTardiness() {
    tardFields.style.display = allowTard.checked ? '' : 'none';
  }

  allowAtt.addEventListener('change', toggleAttendance);
  allowTard.addEventListener('change', toggleTardiness);
  toggleAttendance();
  toggleTardiness();
})();
</script>
